
@import url('https://fonts.googleapis.com/css2?family=Protest+Revolution&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Protest+Revolution&family=Rubik+Doodle+Shadow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Protest+Revolution&family=Protest+Riot&family=Rubik+Doodle+Shadow&display=swap');
.img1{
    background-image: url('img1.jpg');
    height: 700px;
    width: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


.text{
    /* font-family: "Protest Revolution", sans-serif; */
    font-family: "Protest Riot", sans-serif;
    display: flex;
    justify-content: center;
    font-size: 50px;
    align-items: center;
    color: white;
    flex-wrap: wrap;
    text-transform: uppercase;
    margin-top:250px;
}



.alignrow{
    display: flex;
    flex-wrap: wrap;
    grid-template-columns: auto auto auto;
    justify-content: center;
    gap: 20px;
   
    
}
.box{
    color: rgb(10, 7, 7);
    margin-top: 10px;
    height: 310px;
    width: 320px;
    color: white;
    align-items: center;
    text-align: center;
    border-radius: 20px;
    background-color: rgb(108, 87, 60);
    box-shadow: 0.2px 0.1px;
    text-transform: capitalize;
    /* background-color: rgb(108, 87, 60); */
    transition: .2s;
    
    
}
.items{
  text-decoration: none;
}
.box2{
    color: white;
    /* height: 340px;
    width: 320px; */
    height: 360px;
    width: 320px;
    border: 1px solid;
    border: none;
    background-color: rgb(108, 87, 60);
    border-radius: 20px;
    transition: .2s;
}

.box3{
    color: white;
    height: 390px;
    width: 320px;
    border: 1px solid;
    border: none;
    background-color: rgb(108, 87, 60);
    border-radius: 20px;
    transition: .2s;
   
}


.box:hover{
 
    transform: scale(1.1);
}
.box2:hover{
 
    transform: scale(1.1);
}
.box3:hover{
 
    transform: scale(1.1);
}
  .input2{
    height:'40px';
    width:'700px';
    border-radius:'18px';
    border-color:'light'
  }
  .text2{
    text-decoration: none;
    color: black;
    padding: 10px;
  }
  
.btn1{
    
    text-align: center;
    padding: 7%;
    width: 120%;
    background-color: rgb(245, 249, 246);
    border-radius: 20px;
    border: none;
    color: rgb(10, 8, 8);
    font-weight: bold;
    
} 
.img2{
    
}
.box4{
 width: 200px;
 box-shadow: 3px 3px;
 /* border: 2px solid black; */
 gap: 50px;
 padding: 15px;
 margin: 10px;
 border: none;
 border-radius: 10px;
 font-weight:bolder;
 font-size: 20px;
 background-color: rgb(108, 87, 60);

 
}
.font{
  font-family: "Protest Riot", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 35px;
} 
.font2{
    font-family: "Protest Riot", sans-serif;
}
.btn1:hover{
    background-color: green;
}
.country{ 
 text-decoration: none;
 color: white;
    
}
.btn2{
height:35px;width:100px;
border-radius:15px;
border: none;

}
.btn2:hover{
   background-color: rgb(145, 153, 150);
}
.fav{
    font-size: 40px;
 
    background: none;
    color: red;
    border: none;
}

  
  .fav2{
    background: none;
    color: red;
    border: none;
  }
  .fav2:hover{
   
  }
  .flex{
    display: flex;
    justify-content: center;
  }
.view{
  border-radius: 10px;
  font-size: 20px;
  background-color: rgb(108, 87, 60);
  color: white;

}

  
